* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    list-style: none;
    text-decoration: none;
}

:root {
    --grey: #979797
}

.plitka {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 0 auto;
    grid-gap: 23px;
}

body {
    font-family: 'Gilroy';
    font-size: 14px;
    line-height: 17px;
    background: #E5E5E5;
}

h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
}

header {
    display: flex;
    gap: 25px;
    margin-top: 80px;
}

.max-width {
    max-width: 1100px;
    margin: 0 auto;
}

header button {
    background: #007FFF;
    border-radius: 10px;
    padding: 15px 35px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

main {
    margin-top: 38px;
}

.links {
    display: flex;
    gap: 16px
}

.links p {
    font-style: normal;
    font-weight: 600;

}

p[data-what] {
    cursor: pointer;
    transition: .12s cubic-bezier(0.4, 0, 1, 1);
    ;
}

.active {
    font-weight: 700;
    color: #007FFF;
}

.title {
    margin-top: 37px;
}

ul {
    display: flex;
    justify-content: space-between;
    color: var(--grey);
}

ul li:nth-child(2) {
    width: 500px;
}

ul li:nth-child(1) {
    width: 182px;
}

ul li:nth-child(5) {
    width: 95px;
}

.line {
    background-color: #D5D7E4;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 1px;
}


.item {
    display: flex;
    justify-content: space-between;
    color: #000000;
    font-style: normal;
    font-weight: 600;
}

.des {
    width: 492px;
}

.bad {
    color: #FF3F3F;
}

.good {
    color: #000000;

}

.midle {
    color: #007FFF;
}

.complirted {
    width: 95px;
}

.plitca {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(650px, 1fr));
    margin: 0 auto;
}

.blokeplitka {
    background: #FFFFFF;
    border: 1px solid #D8D8D8;
    box-sizing: border-box;
    border-radius: 10px;
    flex-direction: column;
    gap: 11px;
    padding: 24px;
}

.course-modal {
    display: none;
    width: 0px;
    height: 0px;
    background-color: white;
    border-radius: 12px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .2s ease;
    opacity: 0
}

.course-modal-mobil {
    width: 100%;
    height: 100%;
    padding: 56px 97px;
    grid-gap: 8px;
    display: flex;
    flex-direction: column;
}

.course-modal-mobil h1 {
    margin-bottom: 32px;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
}

.course-modal-mobil input {
    width: 100%;
    padding: 19px 25px;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
}

.course-modal-mobil button {
    width: 100%;
    padding: 19px 25px;
    background: #007FFF;
    color: #FFFFFF;
    border-radius: 10px;

}

.bg-modal {
    display: none;
    opacity: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, .5);
    transition: .2s ease;
    backdrop-filter: blur(7px);
}